{% extends 'base.html' %}
{% block content %}
   
    

    
    <div class="text1">
        <h1><u> About Us</u></h1><br>
        <p>Department of Transport Management was established in 2041 B.S. for the smooth management of transport. The purpose of this department and its affiliation, as per Vehicle and Transport Management Act 2049 and Vehicle and Transport Management Rules 2054, is to provide safe, reliable and easy transportation service to the public and goods carrier.Nepalese transport management is affected 
        by existing topographical condition of the country. Due to this only means of transport used in the country are road transport and air transport. In this paper only road transport is discussed. During the Tenth Plan period, the vehicle transport management guideline was implemented. In the context of institutional strengthening of the transport system, construction of a building for the department of Transport Management has been completed.</p>
    </div>

{% endblock %}
