{% extends 'base.html' %}
{% block content %}
    <div class="back-pic">
        
    </div>

    <div class="auth-content">
        <form action="" method="post">
            <h1 class="form-title"><u>Contact Us</u></h1><br>
            <div>
                <label for="username">Username:</label><br>
                <input type="text" name="username" class="text-input" placeholder="username">
            </div>

            <div>
                <label for="subject">Subject:</label><br>
                <input type="text" name="subject" class="text-input" placeholder="subject" >
            </div>
            
            <div>
                <label for="message">Message:</label><br>
                <input type="text" name="message" class="text-input" placeholder="message">
            </div>

            <div>
                <input type="submit" class="btn btn-big" name="register-btn" value="Submitt">
            </div>
           

        </form>
    </div>
{% endblock %}
