
{% extends 'base.html' %}
{% block content %}

    <div class="per">
        <h1><u> Application Details</u></h1>
    </div>

    <div class="auth-content1">
        <div class="user">
            <img src="{{aform.get_photo_url}}" alt="">
        </div>
        <form action="" method="post" enctype="multipart/form-data">

            <h2 class="form-title">Personal Details</h2>
            <br><br>
            <div>
                
                
                <label for="firstname">First Name:</label><br>
                {{aform.firstname}}
            </div>
            <div>
                <label for="lastname">Last Name:</label><br>
                {{aform.lastname}}
            </div>
            <div>
                <label for="dob">Date of Birth:</label><br>
                {{aform.dob}}
            </div>
            <div>
                <label for="contact">Contact No:</label><br>
                {{aform.phone}}
            </div>
            <div>
                <label for="father's name">Father's Name:</label><br>
                {{aform.father}}
            </div>
            <div>
                <label for="mother's name">Mother's Name:</label><br>
                {{aform.mother}}
            </div>
            <div>
                <label for="bloodgrp">Blood Group:</label><br>
                {{aform.blood}}
            </div>



            <h2 class="form-title">Address</h2>
            <div>
                <label for="district">Zone Name:</label><br>
                {{aform.zone}}
            </div>
            
            <div>
                <label for="city">District Name:</label><br>
                {{aform.district}}
            </div>
            <div>
                <label for="tol">Tole:</label><br>
                {{aform.tole}}
            </div>
            <div>
                <label for="ward">Ward No:</label><br>
                {{aform.ward}}
            </div>
            
        <br>

            <h2 class="form-title">Citizenship Details</h2>
            <div>
                <label for="citizenshipno">Citizenship No:</label><br>
                {{aform.citizenshipno}}
            </div>
            <div>
                <label for="issue">Issue Date:</label><br>
                {{aform.citizenshipdate}}
            </div>
            
            <div>
                <label for="dist">Issue District:</label><br>
                {{aform.citizenshipdistrict}}
            </div>
            
          

            <h2 class="form-title">Category</h2>
            <div>
                <label for="cat">License Category:</label><br>
                {{lform.category}}
            </div>
           
            
        </form><br>  
            


    </div>
    {% endblock %}